.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

input[type="text"] {
  display: flex;
  justify-content: space-between;
  width: 200%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.not-valid {
  border: 1px solid rgb(238, 115, 115) !important;
}

button[type="submit"] {
  width: 200%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
  display: flex;
  padding: 12px 12px 12px 0;
}
